.card-feature{
    width: 100%;
    max-width: 57.8rem;
    border-radius: 2rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: 0px 0.5px 0px 0px rgba(255, 255, 255, 0.50) inset, 0px -2px 40px 0px rgba(187, 155, 255, 0.15), 0px -2px 10px 0px rgba(233, 223, 255, 0.30);
    padding: 6rem;
    transition: all .5s ease;
    .icon-card{
        border-radius: 10px;
        box-shadow: 0px 0px 36.45466613769531px 0px rgba(89, 29, 221, 0.75);
        margin-bottom: 1.8rem;
    }
    h3{
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: -0.16px;
    }
    p{
        font-size: 1.4rem !important;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 50px !important;
        margin-top: 1rem;
    }
    .link-card{
        font-size: 16px;
        font-weight: 500;
        text-decoration-line: underline;
        transition: all ease .3s;
    }
    .link-card:hover{
        opacity: 70%;
    }
}

.card-feature:hover{
    box-shadow: 0px 0.5px 0px 0px rgba(255, 255, 255, 0.50) inset, 0px -2px 40px 0px rgba(187, 155, 255, 0.241), 0px -2px 10px 0px rgba(233, 223, 255, 0.577);
}

.card-feature.expanded{
    width: 100%;
    max-width: 100%;
    @include flex(center, space-between, row);
    .wrapper-content{
        p{
            width: 100%;
            max-width: 50rem;
        }
    }
}

@media(max-width:940px){
    .s-features{
        .container{
            .card-feature.expanded{
                flex-direction: column;
                .wrapper-content{
                    width: 100%;
                }
                .token-screen{
                    margin-top: 30px;
                    width: 80%;
                }
            }
            }
        }
}

@media(max-width:660px){
    .s-features{
        .container{
            .card-feature.expanded{
                .token-screen{
                    width: 100%;
                }
            }
            }
        }
}


.btn-primary{
    border-radius: 60px;
    background: $white;
    padding: 1.2rem 2.4rem;
    color: $main-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    border: $white solid 1px;
    @include transitionEase;
    &:hover{
        background-color: transparent;
        color: $white;
    }
}

.btn-secondary{
    border-radius: 60px;
    background: transparent;
    padding: 1.2rem 2.4rem;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    border: $white solid 1px;
    @include transitionEase;
    &:hover{
        background-color: $white;
        color: $main-color;
    }
}

@keyframes float{
    0% {
      transform: translateY(0%);
    }
  
    50% {
      transform: translateY(2%);
    }
    
    100%{
        transform: translateY(0%);
    }
  }
  